#remoteVideo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#localVideo {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 2;
    width: 64px;
    height: 64px;
}

button {
    height: 32px;
    width: 64px;
    z-index: 3;
}
